<!DOCTYPE html>
<html>
    <head>
        <title> New reply notfication</title>
    </head>

    <body>

        <h1> Hello <%= name %>,</h1>
        <p>A new reply has been added to your question.</p>
        <p>Please login to join the discussion.</p>
        <p>Thank you!</p>


      
    </body>
</html>